@charset "utf-8";
/* CSS Document */

body{
    margin: 0;
    padding: 0;
	background: url("Intro.jpg");   
    background-size: cover;
    background-position: top;
    font-family: sans-serif;
}